.outer.container
  .row
    = form_with(model: @article, local: true) do |f|
      %ul
        - @article.errors.full_messages.each do |message|
          %li= message
      .form-signin
        .mb-3
          = f.label :title, class: 'form-label'
          = f.text_field :title, class: 'form-control'
        .mb-3
          = f.label :content
          = f.rich_text_area :content, class: 'form-control'
        = f.submit '送信', class: "btn btn-primary"
