%main.articles
  .outer.container
    .row
      %ul.home-left.col-4
        = render 'shared/articles'
      .home-right.col-8
        = render 'shared/article'
        = render 'shared/comment'
        .comments-container
        - if user_signed_in? && @article
          .form-container
            = text_area_tag :comment_content_text, '', class: 'form-control'
            .btn-blue-bc.add-comment-button#user-name{data: {user_id: current_user.name}} 応援する

= javascript_pack_tag 'like'
