%ul
  - if @article
    - @comments.each do |comment|
      %li.card.mb-3.comment-card
        .card-body
          %p.card-text.comment-text= comment.content
        .card-footer
          .card-footer-left
            %p= bot_name(comment) || nickname_or_name(comment)
            -# image_tagのsrcは要修正 2022.01.10
            = image_tag comment.img || comment.user.avatar_image, alt: 'アバター画像', class: 'avatar'
          - if user_signed_in? && (current_user.id == comment.user_id) && comment.bot_id.zero?
            .card-footer-right
              .comment-edit-wrap.show-comment-form
                = image_tag 'edit-icon.png',   alt: '編集ボタン', class: 'edit'
              = link_to article_comment_path(comment.article_id, comment.id), data: { method: 'delete', confirm: "削除するの?" } do
                = image_tag 'delete-icon.png', alt: '削除ボタン', class: 'delete'
        .comment-text-area
          - if user_signed_in?
            = form_with(model: comment, url: article_comment_path(@article.id, comment.id), local: true) do |f|
              - @comment.errors.full_messages.each do |message|
                %li= message
              .form-edit-comment
                %div
                  = f.hidden_field :user_id, :value => current_user.id
                  = f.hidden_field :article_id, :value => @article.id
                  = f.text_area :content, class: 'form-control'
                = f.submit '編集する', class: "btn-blue-bc"
