<header class="p-3 mb-3 header">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><%= link_to 'ホーム', root_path, class: 'nav-link link-dark px-2' %></li>
        <li><%= link_to '頑張り方', root_path, class: 'nav-link link-dark px-2' %></li>
        <li><%= link_to '目標を投稿してみる', new_article_path, class: 'nav-link link-dark px-2' %></li>
        <li><%= link_to '頑張ってみる', root_path, class: 'nav-link link-dark px-2' %></li>
        <li><p class="nav-link link-dark px-2" data-micromodal-trigger="modal-1">モーダルを開く</p></li>
      </ul>

      <% if user_signed_in? %>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag 'default-icon.png', alt: 'デフォルトアイコン', class: 'rounded-circle header-dropdown-icon' %>
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">設定</a></li>
            <li><a class="dropdown-item" href="#">プロフィール</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
          </ul>
        </div>
      <% else %>
        <%= link_to 'ログイン', user_session_path, data: { type: 'button', class: 'btn btn-primary' } %>
      <% end %>
    </div>
  </div>
</header>

<div class="modal micromodal-slide" id="modal-1" aria-hidden="true">
  <div class="modal__overlay" tabindex="-1" data-micromodal-close>
    <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
      <header class="modal__header">
        <h2 class="modal__title" id="modal-1-title">記事を投稿する</h2>
        <button class="modal__close" aria-label="Close modal" data-micromodal-close></button>
      </header>
      <main class="modal__content" id="modal-1-content">
        <div class="form-signin">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">タイトル</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="タイトル">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">内容</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="12"></textarea>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>

<script>
  MicroModal.init();
</script>
