<!DOCTYPE html>
<html>
  <head>
    <title>Ganbatter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if flash.present? %>
      <div class="flash">
        <% flash.each do |message_type, message| %>
          <div class="<%= message_type %>"><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
